<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserInformationMapper">
  <resultMap id="BaseResultMap" type="data.UserInformation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="head" jdbcType="VARCHAR" property="head" />
    <result column="register_date" jdbcType="TIMESTAMP" property="registerDate" />
  </resultMap>
</mapper>