<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MessageMapper">
  <resultMap id="BaseResultMap" type="data.Message">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="messgae_id" jdbcType="BIGINT" property="messgaeId" />
    <result column="send_id" jdbcType="VARCHAR" property="sendId" />
    <result column="send_username" jdbcType="VARCHAR" property="sendUsername" />
    <result column="receive_id" jdbcType="VARCHAR" property="receiveId" />
    <result column="receive_username" jdbcType="VARCHAR" property="receiveUsername" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>